@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}


.header {
    width: 100%;
}

nav {
    display: flex;
    height: 960px;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}

nav {
    width: 960px;
    height: 1200px;
    margin: 0 auto;
}

nav ul {
    display: table;
    margin: 0 auto;
}

nav li {
    float:left;
}

.video {
    position:fixed;
    z-index: -1;
    min-width:100%;
    min-height:100%;
    overflow:hidden;
    -o-filter: blur(15px);
    filter: blur(15px);
    object-fit: cover;
    transform: scale(1.04);
}

a {
    top: 500px;
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    transition: 1s;
    font-family: 'Roboto Mono', monospace;
}

a:hover {
    color: bisque;
}

.xerion {
    color: aliceblue;
    text-align: center;
    margin-top: -777px;
    font-size: 76px;
    font-family: 'Roboto Mono', monospace;
    
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 40%;
    left: 41%;
    margin: -125px 0 0 -125px;
    background-color: rgb(255, 255, 255);
    border-style: dotted;
    border-color: rgb(211, 185, 151);
    z-index: -1;
    -webkit-box-shadow: 1px 11px 77px 85px rgba(211, 185, 151, 0.29);
    -moz-box-shadow: 1px 11px 77px 85px rgba(211, 185, 151, 0.29);
    box-shadow: 1px 11px 77px 85px rgba(211, 185, 151, 0.29);
}

.text h2 {
    color: black;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    padding-top: 280px;
    font-size: 40px
}


.text p {
     color: black;
     text-align: left;
     margin-left: 680px;
     font-family: 'Roboto Mono', monospace;
     font-size: 25px;

}